.exams {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  .exams__content {
    text-align: left;
    flex: 2;
    .exams__content__title {
      background: linear-gradient(75deg, #4e779f, #00ffcd);
      background: -webkit-linear-gradient(75deg, #4e779f, #00ffcd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      margin: 8px;
    }
    .exams__content__subtitle {
      display: block;
      color: grey;
      font-size: 1.2rem;
      opacity: 0.7;
      margin: 8px;
    }
    .exams__content__quote {
      display: block;
      color: grey;
      font-size: 1rem;
      opacity: 0.5;
      margin: 8px;
    }
    .exams__content__button {
      margin: 8px;
    }
  }
  .exams__image {
    flex: 1;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 555px) {
  .exams__content {
    flex: 100% !important;
    order: 2;
  }
  .exams__image {
    flex: 100% !important;
    order: 1;
  }
  .exams__content__button {
    padding: 4px !important;
    margin: auto !important;
    width: 100% !important;
  }
}
